<h1>New Contact</h1>

<%= simple_form_for @contact do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :phone %>
  <br />
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>